
# dbt specific
target/
dbt_packages/
logs/

# Compiled python files
*.py[cod]
__pycache__/

# Temporary files
*.swp
*.swo
.DS_Store

# Environment files
.env
.env.*

# Virtual environment
dbt-env/
venv/
env/
.venv/
.python-version

# IDE specific files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Snowflake credentials file (if you're using one)
**/snowflake_credentials.yml

# Logs
*.log

# Exclude any local configuration files
profiles.yml

# Exclude any CSV or other data files that might be in your project
*.csv
*.xlsx
*.parquet

# Exclude any personal notes or todo files
notes.txt
todo.txt
